* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  list-style-type: none;
}
body {
  width: 100%;
  height: 100vh;
  background: url(/img/bg-home.png) center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  width: 80%;
  height: 90px;
  /* background-color: rgb(226, 95, 19); */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.navbar {
  width: 100%;
  height: 100%;
}
.ul-list {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-item {
  border-radius: 10px;
  position: relative;
  background-color: #fff;
  padding: 10px;
  margin: 0 10px;
  width: 100%;
  height: 50%;
  cursor: pointer;
}
.list-item i {
  transition: 0.5s ease-in-out;
  height: 50px;
  width: 50px;
  background-color: #fff;
  position: absolute;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
i span {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
i span::after{
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  bottom: 10px;
  left: -10px;
  border-radius:100px 0 0 10px;
  border-top:10px solid rgb(247, 247, 247);
  border-left:10px solid rgb(247, 242, 242);
  transform: rotateZ(180deg);
}
i span::before{
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  bottom: 10px;
  right: -10px;
  border-radius:100px 0 0 10px;
  border-top:10px solid rgb(250, 248, 248);
  border-left:10px solid rgb(250, 247, 247);
  transform: rotateZ(270deg);
}
.list-item span {
  position: absolute;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.list-item:hover{
  background-color: #fff;
}
.list-item:hover.list-item i {
  visibility: visible;
  top: -5px;
  background-color: #fff;
  border-radius: 50%;
}
